﻿@{
    ViewBag.Title = "Index";
}

<div ng-controller="salesCntrl">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <h1> Sales Record Details</h1>

    <br />

    <form ng-submit="submit()">
        <input ng-model="filter.description">
        From:<input type="date" ng-model="FromDate" value="{{ date | date: 'yyyy-MM-dd' }}" />
        To:<input type="date" ng-model="ToDate" value="{{ date | date: 'yyyy-MM-dd' }}" />
        <button type="submit" id="submit" value="Submit">Search</button>
    </form>

    <div class="divList">
        <div id="main-loader" ng-show="loading"><img src="~/Images/loader.gif" /></div>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td><b>ID</b></td>
                <td><b>Date</b></td>
                <td><b>Bill No</b></td>
                <td><b>Description</b></td>
                <td><b>Barcode</b></td>
                <td><b>Unit</b></td>
                <td><b>Quantity</b></td>
                <td><b>SP</b></td>
                <td><b>Total Amount</b></td>
            </tr>
            <tbody ng-init="total=0">
                <tr ng-repeat="sale in resultValue = (sales | dateRange : dateStart : dateEnd | filter:{'sales_product_des':searchDescription || undefined})">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        {{sale.date.slice(6,-2)  | date:'yyyy-MM-dd' }}
                    </td>
                    <td>
                        {{sale.bill_no}}
                    </td>
                    <td>
                        {{sale.sales_product_des}}
                    </td>
                    <td>
                        {{sale.barCode}}
                    </td>
                    <td>
                        {{sale.unit}}
                    </td>
                    <td>
                        {{sale.qty}}
                    </td>
                    <td>
                        {{sale.sales_price}}
                    </td>
                    <td ng-init="$parent.total = $parent.total + sale.total_price">
                        {{sale.total_price}}
                    </td>
                    <td ng-init="$parent.total = $parent.total + sale.total_price">
                        {{sale.qty * sale.sales_price}}
                    </td>
                    {{total}}
</tbody>
        </table>

        <h4>{{resultValue | sumOfValue:'qty'}}</h4>
        <h4>{{resultValue | sumOfValue:'sales_price'}}</h4>
        <h4>{{resultValue | sumOfValue:'total_price'}}</h4>
        <h4>{{resultValue | totalSumPriceQty:'qty':'sales_price'}}</h4>
</div>
    
    <div ng-show="divEmployee">
        <p class="divHead">{{Action}} Employee</p>
        <table>
            <tr>
                <td><b>Id</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="employeeId" />
                </td>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="employeeName" />
                </td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>
                    <input type="text" ng-model="employeeEmail" />
                </td>
            </tr>
            <tr>
                <td><b>Age</b></td>
                <td>
                    <input type="text" ng-model="employeeAge" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="btnAdd" value="Save" ng-click="AddUpdateEmployee()" />
                </td>
            </tr>
        </table>
    </div>
</div>
