﻿<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Content/Angular/Module.js"></script>
    <script src="~/Content/Angular/Service.js"></script>
    <script src="~/Content/Angular/Controller.js"></script>
    <script src="~/Content/Angular/Sales/Controller.js"></script>
    <script src="~/Content/Angular/Sales/Service.js"></script>
    @Styles.Render("~/Content/css")
    <style>
        #main-loader {
            text-align: center;
            position: fixed;
            width: 100%;
            margin: 16% 0;
        }
    </style>
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
